.table {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

@media screen and (max-width: 600px) {
    table tr {
      display: block;
    }
    
    .period{
        display: none;
    }

    th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        font-size: x-large;
    }

    table td {
      display: block; 
    }
    .empty {
        display: none;
    }

}